header::after{
    content: "";
    display: block;
    width:100%;
    height: 100%;
    position: absolute;
    top:0;
    left:0;
    background: black;
    opacity: 0.3;
}
.bgc{
    width: calc((100% - 1160px)/2)!important;
}
.top-box a:hover{
    color:goldenrod;
}
.top-box{
    width:100%;
    height:70px;
    background: rgba(0,0,0,0.7);
    position:fixed;
    top:0;
    right:0;
    z-index: 999;
}
nav{
    height:71px;
    width:1160px;
    margin:0 auto;
}
.logo{
    width:100px;
    height:100%;
    float:left;
    position: relative;
}
.logo p{
    position: absolute;
    right: 0px;
    left: 0px;
    opacity: 0.5;
}
.logo p:hover{
    opacity: 1;
}
.logo img{
    display: block;
    height:70px;
    width:70px;
    /*float:left;*/
    border-radius: 50%;

}
.lianxi{
    float:right;
    color:#fff;
    line-height: 30px;
}
nav>div:last-child{
    width:940px;
    float:right;
    height:100%;
}
nav>div:last-child ul{
    padding-right: 20px;
    margin-top:5px;
    display: flex;
    justify-content: space-between
}
nav>div:nth-child(2)>div:first-child{
    overflow: hidden;
}
nav>div:last-child ul a{
    color:#ffffff;
}
.xiala-box li{
    height:35px;
    flex-grow:1;
    position: relative;
    /*overflow: hidden;*/
    text-align: center;
}
.xiala{
    position: absolute;
    left:0;
    right:0;
    margin-left: auto;
    margin-right: auto;
    top:35px;
    color: #FFFFFF;
    background: black;
    overflow: hidden;
    height:auto;
    display: none;
    background: rgba(0,0,0,0.7);
}

.xiala a{
    display: block;
    padding-top:12px;
    text-align: center;
}
.xiala a:last-of-type{
    display: block;
    padding-bottom: 12px;
}
.xiala2 a:last-of-type{
    display: block;
    padding-bottom: 12px;
}
