
header{
	height:450px;
	width:100%;
	background: url(../img/jmcpbg.jpg) no-repeat center center;
	background-size:100% 100%;
	position: relative;
}
header::after{
	content: "";
	display: block;
	width:100%;
	height: 100%;
	position: absolute;
	top:0;
	left:0;
	background: black;
	opacity: 0.3;
}
.top-box a:hover{
	color:goldenrod;
}
.top-box{
	width:100%;
	height:71px;
	background: rgba(0,0,0,0.7);
	position:fixed;
	top:0;
	right:0;
	z-index: 999;
}
nav{
	height:71px;
	width:1160px;
	margin:0 auto;
}
.logo{
	width:100px;
	height:100%;
	float:left;
	position: relative;
}
.logo p{
	position: absolute;
	right: 0px;
	left: 0px;
	opacity: 0.5;
}
.logo p:hover{
	opacity: 1;
}
.logo img{
	display: block;
	height:70px;
	width:70px;
	/*float:left;*/
	border-radius: 50%;

}
.lianxi{
	float:right;
	color:#fff;
	line-height: 30px;
}
nav>div:last-child{
	width:940px;
	float:right;
	height:100%;
}
nav>div:last-child ul{
	padding-right: 20px;
	margin-top:5px;
	display: flex;
	justify-content: space-between
}
nav>div:nth-child(2)>div:first-child{
	overflow: hidden;
}
nav>div:last-child ul a{
	color:#ffffff;
}
.xiala-box li{
	height:35px;
	flex-grow:1;
	position: relative;
	/*overflow: hidden;*/
	text-align: center;
}
.xiala{
	position: absolute;
	left:0;
	right:0;
	margin-left: auto;
	margin-right: auto;
	top:36px;
	color: #FFFFFF;
	background: black;
	overflow: hidden;
	height:0px;	
	transition: 0.7s;
	background: rgba(0,0,0,0.7);
}
.xiala2{
	position: absolute;
	left:0;
	top:36px;
	left:0;
	right:0;
	margin-left: auto;
	margin-right: auto;
	color: #FFFFFF;
	background: black;
	overflow: hidden;
	height:0px;	
	transition: 0.7s;
	background: rgba(0,0,0,0.7);
}
.xiala2 a{
	display: block;
	text-align: center;
	padding-top:12px;
}
.xiala a{
	display: block;
	padding-top:12px;
	text-align: center;
}
.xiala a:last-of-type{
	display: block;
	padding-bottom: 12px;
}
.xiala2 a:last-of-type{
	display: block;
	padding-bottom: 12px;
}
.xiala-box li:hover .xiala{
	height:78px;
}
.xiala-box li:hover .xiala2{
	height:80px;
}
.word-box{
	width:100%;
	height:59px;
	background:#703E19;
	position: relative;
}
.word{
	width:1160px;
	height:59px;
	margin:0 auto;
}
.word1{
	border-right: 1px solid #FFFFFF;
	height:100%;
	width:200px;
	background: #422611;
}
.word1 div:first-child{
	float: left;
	font-size: 45px;
	color:#FFFFFF;
	padding-right:10px;
}
.word1 div:nth-child(2){
	float: left;
}
.word1 div:nth-child(2) p{
	font-size:24px;
	color:#FFFFFF;
}
.word1 div:nth-child(2) span{
	color:#FFFFFF;
}
.bgc{
	width:95px;
	height:100%;
	background: #422611;
	position: absolute;
	left:0px;
	top:0px;
}
.foot-box{
	width:100%;
	height:auto;
	background:#F6F5F3;
	overflow: hidden;
}
.foot{
	width:1160px;
	margin:60px auto;
	display: flex;
	align-items:center ;
	justify-content: space-around;
}
.foot a{
	font-size: 50px;
	color:#703e19;
}
.foot li{
	flex-grow:1;
	text-align: center;
}
.foot a p{
	margin-top:8px;
	font-size: 18px;
	text-align: center;
}
.foot a:hover{
	color:goldenrod;
}
.list-box{
	width:1160px;
	margin:0 auto;
	height: auto;
	background: #F6F5F3;
}
.list-box img{
	width:264px;
	height:200px;
	display: block;
}
.list-box ul{
	width:100%;
	height: auto;
	display: flex;
	justify-content: space-between;
	align-content: space-between;
	flex-wrap: wrap;
	background: #F6F5F3;
}
.list-box ul li{
	padding:3px;
	background: #FFFFFF;
	text-align: center;
	transition: all 0.5s; 
	overflow: hidden;
}
.list-box ul li a p{
	color:#000;
	font-size: 14px;
	line-height:30px
}
.list-box ul li:hover{
	transform: translateY(-3px);
	box-shadow:0px 5px 10px 2px rgba(0,0,0,0.5);
}
.list-box ul li:nth-child(4)~li{
	margin-top:20px;
}
.next{
	width:500px;
	height:30px;
	margin:0 auto;
	margin-top:50px;
	padding-bottom: 50px;
	overflow: hidden;
}
.next li{
	float:left;
	width:auto;
	height: auto;
	padding:0 3px;
	background:#FFFFFF;
	
}
.next li a{
	height:30px;
	line-height:30px;
	display: block;
	font-size: 14px;	
	padding:0 10px;
	color:#000000;
	border:1px solid #D1D1D1;
	box-sizing: border-box;
}
.next a:hover{
	background:#703e19;
	color:goldenrod;
	border:1px solid #b87d08;
	box-sizing: border-box;
}
footer{
	width:100%;
	height:74px;
	background:#3b2311;
	position: relative;
}
footer p{
	text-align: center;
	font-size:14px;
	color:#FFFFFF;
	line-height:74px;
}
footer ul{
	display: flex;
	position: absolute;
	right:50px;
	bottom: 10px;
}
footer ul li{
	padding-left: 5px;
}
footer ul li img{
	width:20px;
	height: 20px;

}
footer ul li a{
	color:#FFFFFF;
	font-size: 20px;
	opacity: 0.8;
}
footer ul li a:hover{
	opacity: 1;
}
.ewm{
	position: absolute;
	top:5px;
	left:100px;
	margin-left: 100px;
	width:64px;
	height:64px;
	display: block;
}
.xiala-box li:nth-child(3)>a{
	color:goldenrod;
}




.foot>li:nth-child(2) a{
	color:goldenrod;
}