.xiala-box li:nth-child(6)>a{
	color:goldenrod;
}



header{
	height:450px;
	width:100%;
	background: url(../img/kfg.jpg) no-repeat center center;
	background-size:100% 100%;
	position: relative;
}
header::after{
	content: "";
	display: block;
	width:100%;
	height: 100%;
	position: absolute;
	top:0;
	left:0;
	background: black;
	opacity: 0.3;
}
.top-box a:hover{
	color:goldenrod;
}
.top-box{
	width:100%;
	height:71px;
	background: rgba(0,0,0,0.7);
	position:fixed;
	top:0;
	right:0;
	z-index: 999;
}
nav{
	height:71px;
	width:1160px;
	margin:0 auto;
}
.logo{
	width:100px;
	height:100%;
	float:left;
	position: relative;
}
.logo p{
	position: absolute;
	right: 0px;
	left: 0px;
	opacity: 0.5;
}
.logo p:hover{
	opacity: 1;
}
.logo img{
	display: block;
	height:70px;
	width:70px;
	/*float:left;*/
	border-radius: 50%;

}
.lianxi{
	float:right;
	color:#fff;
	line-height: 30px;
}
nav>div:last-child{
	width:940px;
	float:right;
	height:100%;
}
nav>div:last-child ul{
	padding-right: 20px;
	margin-top:5px;
	display: flex;
	justify-content: space-between
}
nav>div:nth-child(2)>div:first-child{
	overflow: hidden;
}
nav>div:last-child ul a{
	color:#ffffff;
}
.xiala-box li{
	height:35px;
	flex-grow:1;
	position: relative;
	/*overflow: hidden;*/
	text-align: center;
}
.xiala{
	position: absolute;
	left:0;
	right:0;
	margin-left: auto;
	margin-right: auto;
	top:36px;
	color: #FFFFFF;
	background: black;
	overflow: hidden;
	height:0px;
	transition: 0.7s;
	background: rgba(0,0,0,0.7);
}
.xiala2{
	position: absolute;
	left:0;
	top:36px;
	left:0;
	right:0;
	margin-left: auto;
	margin-right: auto;
	color: #FFFFFF;
	background: black;
	overflow: hidden;
	height:0px;
	transition: 0.7s;
	background: rgba(0,0,0,0.7);
}
.xiala2 a{
	display: block;
	text-align: center;
	padding-top:12px;
}
.xiala a{
	display: block;
	padding-top:12px;
	text-align: center;
}
.xiala a:last-of-type{
	display: block;
	padding-bottom: 12px;
}
.xiala2 a:last-of-type{
	display: block;
	padding-bottom: 12px;
}
.xiala-box li:hover .xiala{
	height:78px;
}
.xiala-box li:hover .xiala2{
	height:80px;
}

.word-box{
	width:100%;
	height:59px;
	background:#703E19;
	position: relative;
}
.word{
	width:1160px;
	height:59px;
	margin:0 auto;
}
.word1{
	border-right: 1px solid #FFFFFF;
	height:100%;
	width:200px;
	background: #422611;
}
.word1 div:first-child{
	float: left;
	font-size: 45px;
	color:#FFFFFF;
	padding-right:10px;
}
.word1 div:nth-child(2){
	float: left;
}
.word1 div:nth-child(2) p{
	font-size:24px;
	color:#FFFFFF;
}
.word1 div:nth-child(2) span{
	color:#FFFFFF;
}
.bgc{
	width:95px;
	height:100%;
	background: #422611;
	position: absolute;
	left:0px;
	top:0px;
}
.ppgs-box{
	width:100%;
	height:auto;
	background: #F6F5F3;
}
.ppgs{
	width:1160px;
	height:auto;
	margin:0 auto;
	overflow: hidden;
	line-height:115px;
	border-bottom: 1px solid #999999;
}
.ppgs p{
	float: left;
	font-size: 20px;
}
.ppgs div{
	float:right;
	font-size: 16px;
}
.ppgs div span{
	color:#999999;
}
.ppgs div a{
	color:#333333;
}
.ppgs div a:hover{
	color: goldenrod;
}
/*地址START*/
.all{
	position: relative;
	overflow: hidden;
	background: url(../img/index_bg3.png) no-repeat center center;
	background-size: cover;
	width:100%;
	height: 757px;
}
.diqu{
	width:420px;
	height:90px;
	margin: 80px 0 0 235px;
	display: flex;
	justify-content: space-between;
}
.diqu div h1{
	float:left;
	color: #9a7049;
	font-size: 45px;
	font-weight: 600;
}
.diqu div{
	display: flex;
	justify-content:space-between;
	flex-wrap: wrap;
}
.diqu p{
	width:100%;
	font-size: 12px;
	color:#9a7049;
}
.diqu div span{
	display: block;
	margin:25px 58px 0 0;
	color:#9a7049;
}
.didian li{
	width:90px;
	height:38px;
	text-align: center;
	line-height: 38px;
	background:#E2BF9C;
	color: #FFFFFF;
}
.didian li:nth-child(1){
	position: absolute;
	top:332px;
	right:567px;
}
.didian li:nth-child(2){
	position: absolute;
	top:396px;
	right:544px;
}
.didian li:nth-child(3){
	position: absolute;
	top:445px;
	right:523px;
}
.didian li:nth-child(4){
	position: absolute;
	top:488px;
	right:502px;
}
.didian li:nth-child(5){
	position: absolute;
	top:494px;
	right:680px;
}
.didian li:nth-child(6){
	position: absolute;
	top:551px;
	right:712px;
}
.didian li:nth-child(7){
	position: absolute;
	top:591px;
	right:775px;
}
.didian li:nth-child(8){
	position: absolute;
	top:367px;
	right:753px;
}
.didian li:nth-child(9){
	position: absolute;
	top:409px;
	right:823px;
}
.didian li:nth-child(10){
	position: absolute;
	top:453px;
	right:780px;
}
.didian li:nth-child(11){
	position: absolute;
	top:540px;
	right:855px;
}
.didian li:nth-child(12){
	position: absolute;
	top:583px;
	right:915px;
}
.ad-pic-box{
	width:100%;
	height:auto;
	padding: 50px 0;
}
.ad-w{
	width:680px;
	height:38px;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
}
.ad-w a{
	display: block;
	height:38px;
	width:138px;
	border-radius: 30px;
	border: 1px solid #d7d7d7;
	box-sizing: border-box;
	text-align: center;
	line-height: 38px;
	color:#999999;
}
.ad-w a:hover{
	border: 1px solid #107755;
}
.img-box{
	width:100%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-top: 70px;
	overflow: hidden;
}
.img-box>div{
	width:25%;
	height:227px;
	position: relative;
}
.img-box img{
	width:100%;
	height:100%;
	display: block;
	transition: all 0.5s;
}
.img-box>div>a{
	display: block;
	width:100%;
	height:100%;
	overflow: hidden;
}

.img-box>div>a:hover img{
	transform:scale(1.3,1.3);
}
.img-box p{
	width:100%;
	height:100%;
	position: absolute;
	top: 0;
	right: 0;
	background: black;
	opacity:0.2;
	z-index: 99;
}
.img-box>div>a:hover p{
	opacity: 0.6;

}
.zi{
	width:90%;
	height:90%;
	border: 1px solid #FFFFFF;
	box-sizing: border-box;
	position: absolute;
	top:12px;
	right: 0;
	left: 0;
	margin-left:auto;
	margin-right:auto;
	z-index: 999;
	overflow: hidden;
	opacity: 0;
	transition:all 0.5s;
}
.img-box>div>a:hover .zi{
	display: block;
}
.zi span:first-child{
	display: block;
	color:#999;
	font-size: 20px;
	text-align: center;
	margin-top:35px;
}
.zi span:last-child{
	padding:0 20px;
	display: block;
	font-size: 16px;
	color:#999;
	text-align: center;
	margin-top:30px;
}
.img-box>div span{
	transform:scale(0,0);
	opacity: 0;
	transition: all 0.5s;
}

.img-box>div:hover span{
	opacity: 1;
	transform: scale(1,1);
}
.img-box>div:hover .zi{
	opacity: 1;
}
footer{
	width:100%;
	height:74px;
	background:#3b2311;
	position: relative;
}
footer p{
	text-align: center;
	font-size:14px;
	color:#FFFFFF;
	line-height:74px;
}
footer ul{
	display: flex;
	position: absolute;
	right:50px;
	bottom: 10px;
}
footer ul li{
	padding-left: 5px;
}
footer ul li img{
	width:20px;
	height: 20px;

}
footer ul li a{
	color:#FFFFFF;
	font-size: 20px;
	opacity: 0.8;
}
footer ul li a:hover{
	opacity: 1;
}
.ewm{
	position: absolute;
	top:5px;
	left:100px;
	margin-left: 100px;
	width:64px;
	height:64px;
	display: block;
}
